@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: 'Kento-Bold';
    src: url('../font/Kento-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Kento-Light';
    src: url('../font/Kento-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Kento-Regular';
    src: url('../font/Kento-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #faf6f5;
    color: #BFEA88;
    padding: 20px;
    overflow: hidden;
    height: 100vh; /* Düzeltme: Hesaplamalı yükseklikten kaldırıldı */
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.27) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), url("../img/background.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

::selection {
    color: black;
    background: #BFEA88;
}

a {
    color: inherit;
    text-decoration: none !important;
    border-bottom: #BFEA88 1px solid;
}

/* TOP */
.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.top .contact-container {
    display: flex;
    flex-direction: column;
    border: #BFEA88 1px solid;
    width: 350px;
}

.top .contact-container .contact-top {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    border-bottom: #BFEA88 solid 1px;
}

.top .contact-container .contact-top .contact-info {
    width: 63%;
    border-right: #BFEA88 1px solid;
    padding: 20px 0 20px 30px;
}

.top .contact-container .contact-top .contact-info .text {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0.40px;
}

.top .contact-container .contact-top .contact-icon {
    width: 37%;
    text-align: center;
    padding-top: 20px;
}

.top .contact-container .contact-bottom {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.40px;
    text-transform: uppercase;
    padding: 20px 0 20px 35px;
}

/* CENTER */
.center {
    width: 100%;
    height: calc(100vh - 330px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center .icon {
    width: 1.65944rem;
    height: 1.65956rem;
    transform: rotate(-133.808deg);
    margin-bottom: 1.312rem;
}

.center .subtitle {
    font-family: "annabelle-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.8rem;
}

.center .title {
    font-size: 7.8rem;
    font-family: "Kento-Bold";
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.center .description {
    font-family: "Kento-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.358rem;
}

/* BOTTOM */
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.bottom .date {
    font-size: 2em;
}

.bottom .live-date {
    width: 290px;
}

/* MOBILE - RESPONSIVE */
.mobile-bottom {
    width: calc(100vw - 40px);
    position: fixed;
    bottom: 20px;
    left: 20;
}

.mobile-bottom .mobile-live-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 22.4375rem;
    height: 2.4375rem;
    display: none;
    border-radius: 2px;
    background-color: #BFEA88;
    width: 100%;
    padding: 0 30px;
}

.mobile-bottom .mobile-live-date .text {
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-bottom .mobile-live-date .text span {
    color: #182803;
    font-family: "Kento-Light";
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 0;
    margin-top: 2px;
    text-transform: uppercase;
}

.mobile-bottom .mobile-live-date .date span {
    color: #182803;
    font-family: "Kento-Regular";
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 120%; /* 1.2rem */
    text-transform: uppercase;
}

.mobile-barcode {
    display: none;
}

.mobile-logo {
    display: none;
}

.contact-mobile {
    display: none;
    margin-top: 50px;
}

.contact-mobile .contact-container {
    display: flex;
    flex-direction: column;
    border: #BFEA88 1px solid;
    width: 300px;
}

.contact-mobile .contact-container .contact-top {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    border-bottom: #BFEA88 solid 1px;
}

.contact-mobile .contact-container .contact-top .contact-info {
    width: 60%;
    border-right: #BFEA88 1px solid;
    padding: 15px 0 15px 15px;
}

.contact-mobile .contact-container .contact-top .contact-info .text {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0.40px;
}

.contact-mobile .contact-container .contact-top .contact-icon {
    width: 40%;
    text-align: center;
    padding-top: 15px;
}

.contact-mobile .contact-container .contact-bottom {
    width: 100%;
    padding: 15px 0 15px 20px;
}

.contact-mobile .contact-container .contact-bottom .contact-email {
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.40px;
    text-decoration-line: underline;
    text-transform: uppercase;
}


/* RESPONSIVE */
@media only screen and (max-width: 500px) {
    .center {
        height: calc(100vh - 200px) !important;
    }

    .mobile-bottom .mobile-live-date img {
        height: auto !important;
    }
}

@media only screen and (max-width: 1000px) {
    .contact-mobile {
        display: block;
    }

    .top .contact-container {
        display: none;
    }

    .mobile-barcode {
        display: block;
    }

    .top-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .center {
        height: calc(100vh - 180px);
    }

    .center .subtitle {
        font-size: 1.2rem;
        line-height: 40px;
        margin: 0;
    }

    .center .title {
        font-size: 2.8rem;
        margin: 0;
        line-height: 55px;
    }

    .center .description {
        font-size: 0.75rem;
        margin: 0;
    }

    .bottom {
        display: none;
    }

    .mobile-bottom .mobile-live-date {
        display: flex;
    }

    .mobile-bottom .mobile-live-date img {
        width: 100%;
        height: 100px;
    }
}